[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = git@github.com:lamurian/blog-theme.git
[submodule "themes/xmin"]
	path = themes/xmin
	url = https://github.com/yihui/hugo-xmin
[submodule "content"]
	path = content
	url = git@github.com:lamurian/blog-content.git
