# Blacklist everything
*

# Whitelist folder contents
!*/

# Folder to publish on github
!assets/**
!config/**
!content/**
!resources/**
!static/**
!themes/**
!data/**

# File to publish on github
!config.toml
!index.Rmd
