# Blacklist everything
*

# Whitelist subdirectory
!*/

# Specifically ignoring these dirs
.alt
public

# File to publish on github
!*.toml
!.Rprofile
!index.Rmd
!README.md
!.DS_Store
!Thumbs.db
!.hugo_build.lock
!*md
