[submodule "themes/academia-hugo"]
	path = themes/academia-hugo
	url = https://github.com/themefisher/academia-hugo/
[submodule "themes/touchy-hugo"]
	path = themes/touchy-hugo
	url = https://github.com/gethugothemes/touchy-hugo/
