# Blacklist everything
*

# Whitelist folder contents
!*/

# Folder to publish on github
!assets/**
!config/**
!content/**
!data/**
!R/**
!resources/**
!static/**
!themes/**

# File to publish on github
!config.toml
!index.Rmd
!README.md
!.DS_Store
!Thumbs.db
!.hugo_build.lock
